#about {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 30px;
}

#about h1 {
  font-size: 1.6em;
  margin-top: 40px;
  margin-bottom: 5px;
}

.about-content-box p {
  font-size: 0.8em;
}
