.form-container {
  border: 1px solid var(--blueviolet);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form label {
  font-size: 16px;
}

form input,
form textarea {
  color: var(--white);
  background-color: var(--darkgray);
  font-weight: bold;
  border-radius: 5px;
  border: 0px;
  padding: 10px;
  margin: 10px;
}

form input::placeholder,
form textarea::placeholder {
  color: var(--lightgray);
}

form .submit {
  color: var(--darkgray);
  background-color: var(--blueviolet);
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: 0px;
  padding: 10px;
  margin: 10px;
  height: 50px;
}
