#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
}

#home .sky {
  background: linear-gradient(
    #000000 10%,
    #000033 30%,
    #3d0099 50%,
    #e6ccff 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#home .stars {
  margin: 0;
  z-index: -1;
}

#home .cave-entrance {
  z-index: 8;
}

#home .stars,
#home .cave-entrance {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

#home .title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

#home .title-container #title {
  font-weight: var(--font-weight);
  font-size: 1em;
  text-align: center;
  text-shadow: 0 0 5px var(--black);
  padding: 10px;
  margin: 0;
  margin-bottom: 100px;
  z-index: 0;
}

/**************** Responsiveness ****************/
/* styles for small devices (e.g., smartphones in landscape, small tablets) */
@media (min-width: 576px) and (max-width: 767px) {

}

/* styles for medium devices (e.g., tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  #home .title-container {
    margin: 15px;
  }

  #home .title-container #title {
    font-size: 1.8em;
  }
}

/* styles for large devices (e.g., desktops, laptops) */
@media (min-width: 992px) and (max-width: 1199px) {
  #home .title-container {
    margin: 15px;
  }

  #home .title-container #title {
    font-size: 1.8em;
  }
}

/* styles for extra large devices (e.g., large desktops, wide screens) */
@media (min-width: 1200px) {
  #home .title-container {
    margin: 15px;
  }

  #home .title-container #title {
    font-size: 1.8em;
  }
}