#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}

#home .stars {
  background: linear-gradient(
    #000000 10%,
    #000033 30%,
    #3d0099 55%,
    #e6ccff 80%
  );
  z-index: -2;
}

#home .cave-entrance {
  z-index: 8;
}

#home .stars,
#home .cave-entrance {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

#home .title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 0;
}

#home .title-container #title {
  font-weight: var(--font-weight);
  font-size: 1.8em;
  text-align: center;
  text-shadow: 0 0 5px var(--black);
  padding: 10px;
  margin: 0;
  margin-bottom: 100px;
}
