.navbar .links {
  background-color: var(--black);
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  width: 100%;
  height: 60px;
}

.navbar .menu-button {
  background-color: transparent;
  border: none;
  color: var(--white);
  cursor: pointer;
  margin: 20px;
  display: none;
}

.navbar .hidden-links {
  background-color: var(--darkgray);
  font-size: 20px;
  flex-direction: column;
  text-align: right;
  position: fixed;
  width: 100%;
  height: auto;
  display: none;
  margin-top: 60px;
}

.navbar .links a {
  color: var(--white);
  text-decoration: none;
  margin: 25px;
}

.navbar .hidden-links a {
  color: var(--white);
  text-decoration: none;
  margin: 10px;
}

.navbar .links a:hover {
  background-color: var(--white);
  color: var(--black);
  margin: 15px;
  padding: 10px;
  border-radius: 50px;
}

.navbar .hidden-links a:hover {
  background-color: var(--white);
  color: var(--black);
  margin: 5px;
  padding: 5px;
}

@media (max-width: 600px) {
  .navbar .links a {
    display: none;
  }
  .navbar .menu-button {
    display: inline-flex;
  }
  .navbar .hidden-links#open {
    display: flex;
    font-size: 0.5em;
  }

  .navbar .hidden-links#close {
    display: none;
  }
}
