:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;
  --lightgray: #e7e7e7;

  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
}

body {
  padding: 0;
  margin: 0;
}
